{#
/**
 * @file
 * Jarvis rich-text SDC.
 */
#}
{% import '@jarvis/jarvis-spacing.html.twig' as jarvis %}
{% set space = jarvis.classes(padding|default('none'), padding_size|default('medium'), margin|default('none'), margin_size|default('medium'), vertical_padding|default(false), no_padding|default(false)) %}
{% set width = width|default('normal') %}
{% set align = align|default('start') %}
{% set col = { narrow: 'col-lg-6', normal: 'col-lg-8', wide: 'col-12' }[width] %}
{% set align_class = { start: 'text-start', center: 'text-center', end: 'text-end' }[align] %}
<div class="jarvis-text container {{ space }}">
  <div class="row justify-content-center">
    <div class="{{ col }} {{ align_class }}">
      {{ body|raw }}
    </div>
  </div>
</div>
